/* Homepage */
@import url('https://fonts.googleapis.com/css2?family=Unkempt:wght@400;700&display=swap');

body{
  color:midnightblue;
  font-family:Unkempt, cursive;
  background-color:aliceblue;
  background-image:url(../media/mainPageBG.jpg);
  background-repeat:no-repeat;
  background-size:auto;
  background-position:top center;
}
header{
  margin-top:50px;
}

#headerBirdLeft{
  width:100px;
  float:left;
}
#headerBirdRight{
  width:100px;
  float:right;
}

#title{
  font-family:Unkempt, cursive;
  font-size:4em;
  text-shadow:2px 2px 3px lightskyblue;
  background-color:aliceblue;
  width:fit-content;
  height:fit-content;
  text-align:center;
  padding:10px;
  margin-top:0px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
  border-radius:8px;
}
#gameMenu{
  width:fit-content;
  margin-left:auto;
  margin-right:auto;
  font-size:1.5em;
}
#gameList{
  list-style-type:none;
  margin-left:-2em;
  display:flex;
  margin-top:15px;
  margin-bottom:25px;
  align-items:center;
}
.gameLink{
  font-size:1.1em;
  background-color:aliceblue;
  padding:15px;
  margin:5px;
  border-radius:10px;
  width:fit-content;
  height:fit-content;

  transition:background-color .3s, color .3s, font-size .3s;
}

#gameDetails{ /*div*/
  font-size:1.2em;
  background-color:aliceblue;
  width:50%;
  margin-left:auto;
  margin-right:auto;
  padding:10px;
  border-radius:10px;
  text-align:center;
}
footer{
  display:flex;
  justify-content:center;
  position:fixed;
  bottom:0;
  width:98%;
  text-align:center;
}
#readMe{
  background-color:aliceblue;
  margin:16px;
  font-size:1.1em;
  padding:10px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius:8px;

  transition:background-color .3s, color .3s;
}

a:link, a:visited{
  color:navy;
  text-decoration:none;
}
a li:hover, #readMe:hover{
  color:green;
  background-color:paleturquoise;
  text-decoration:none;
}
a li:hover{
  font-size:1.3em;
}
a li:active, a p:active{
  color:darkgreen;
}

@media (max-width:600px) {
  #title{
    font-size:3em;
  }
  .gameLink{
    font-size:0.8em;
  }
}
@media (max-width:450px) {
  #title{
    font-size:2em;
  }
  .gameLink{
    font-size:0.7em;
  }
}