@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Unkempt:wght@400;700&display=swap');

*{
  font-family:Unkempt, cursive;
  user-select:none;
}
body{
  padding:0 10px 0 10px;
  max-width:800px;
  min-width:500px;
  background-image:url("../media/puzzlesBG.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  background-attachment:scroll;
}
h1{
  font-family:Kranky, fantasy;
  width:fit-content;
  text-align:center;
  font-size:2.5em;
  font-weight:bold;
  background-color:rgb(240, 248, 255, 0.9);
  border-radius:15px;
  padding:5px 10px;
}

#howToPlay{
  font-size:1.25em;
  width:fit-content;
  background-color:rgba(240, 248, 255, 0.9);
  padding:5px 10px;
  text-align:center;
  border-radius:10px;
}
.center{
  display:block;
  margin-left:auto;
  margin-right:auto;
}
#goHome{
  width:80px;
  border-radius:5px;
  cursor:pointer;
  
}
#pieceCount{
  display:block;
  margin:0 auto;
  font-size:medium;
  border-radius:5px;
  padding:2px;
  cursor:pointer;
}

.imageContainer{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  margin-bottom:16px;
}
.imageContainer img{
  width:120px;
  height:80px;
  cursor:pointer;
  border:1px solid aliceblue;
  border-radius:10px;
  transition:.3s ease-in-out;
}
.imageContainer img:hover{
  width:135px;
  height:90px;
  transition:.3s ease-in-out;
}

#puzzleContainer{
  width:600px;
  height:400px;
  overflow:hidden;
  margin-top:16px;
  position:relative;
  background:lightskyblue;
  background-image:url("../media/paleLeaves.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  border:1px solid midnightblue;
}
.puzzlePiece{
  box-sizing:border-box;
  cursor:pointer;
  position:absolute;
  border:1px solid midnightblue;
}